In [1]:
import hospital.hospital_management.member
import hospital.hospital_management.nurse as n
import hospital.hospital_management.physician as p

ModuleNotFoundError: No module named 'hospital.hospital_management.member'

In [2]:
##initilize physcians
physician1=p.Physician("Sally", 350, 5.5, "Cardiology")
physician2=p.Physician("Jimmy", 200, 0.5, "Oncology")
physician3=p.Physician("Tony", 227.8, 1, "Pediactrics")
physician4=p.Physician("Sophia", 250, 15, "Emergency")

(Hospital Member: Sally)
(Hospital Member: Jimmy)
(Hospital Member: Tony)
(Hospital Member: Sophia)

In [3]:
physician1.display()

Name: Sally, Hourly wage: 350
Physican Department: Cardiology

In [4]:
physician3.display()

Name: Tony, Hourly wage: 227.8
Physican Department: Pediactrics

In [5]:
physician3.christmasBonus()

Tonys Christmas bonus is 500 $

In [6]:
physician4.christmasBonus()

Sophias Christmas bonus is 2000 $

In [7]:
## count number of physicians

physician1.physicianCount()

There are 4 physicans currently working at this hospital

In [8]:
##display all physicians in a list

physician4.displayPhysicians()

Current Physicians:
--------------------
Name: Dr. Sally
Hourly salary: 350
Department: Cardiology
--------------------
Name: Dr. Jimmy
Hourly salary: 200
Department: Oncology
--------------------
Name: Dr. Tony
Hourly salary: 227.8
Department: Pediactrics
--------------------
Name: Dr. Sophia
Hourly salary: 250
Department: Emergency
--------------------

In [11]:
##yearly salaries working 40 hours per week

physician1.yearlySalary(40)
physician2.yearlySalary(40)
physician3.yearlySalary(40)
physician4.yearlySalary(40)

Yearly take home pay for Dr. Sally is 655200.0 after taxes
Yearly take home pay for Dr. Jimmy is 395200.0 after taxes
Yearly take home pay for Dr. Tony is 450132.8 after taxes
Yearly take home pay for Dr. Sophia is 494000.0 after taxes

In [14]:
##working 25 hours per week
physician1.yearlySalary(25)
physician2.yearlySalary(25)
physician3.yearlySalary(25)
physician4.yearlySalary(25)

Yearly take home pay for Dr. Sally is 432250.0 after taxes
Yearly take home pay for Dr. Jimmy is 247000.0 after taxes
Yearly take home pay for Dr. Tony is 281333.0 after taxes
Yearly take home pay for Dr. Sophia is 308750.0 after taxes

In [13]:
##working 60 hours per week
physician1.yearlySalary(60)
physician2.yearlySalary(60)
physician3.yearlySalary(60)
physician4.yearlySalary(60)

Yearly take home pay for Dr. Sally is 873600.0 after taxes
Yearly take home pay for Dr. Jimmy is 592800.0 after taxes
Yearly take home pay for Dr. Tony is 639662.4 after taxes
Yearly take home pay for Dr. Sophia is 702000.0 after taxes

In [15]:
##on call schedule with only 4 doctors
physician4.oncallschedule()

Saturday on call doctor: ('Sally', 350, 5.5, 'Cardiology')
Tuesday on call doctor: ('Sophia', 250, 15, 'Emergency')
Monday on call doctor: ('Tony', 227.8, 1, 'Pediactrics')
Sunday on call doctor: ('Jimmy', 200, 0.5, 'Oncology')
Thursday on call doctor: ('Sophia', 250, 15, 'Emergency')
Friday on call doctor: ('Sally', 350, 5.5, 'Cardiology')
Wednesday on call doctor: ('Sophia', 250, 15, 'Emergency')

In [16]:
##add more doctors
physician5=p.Physician("Hillary", 200, 10, "Emergency")
physician6=p.Physician("Jeremy", 370.88, 7.5, "Gastroenterology")
physician7=p.Physician("Brittany", 400, 25, "Gynecology")

(Hospital Member: Hillary)
(Hospital Member: Jeremy)
(Hospital Member: Brittany)

In [17]:
##Display them 

physician5.display()
physician6.display()
physician7.display()

Name: Hillary, Hourly wage: 200
Physican Department: Emergency
Name: Jeremy, Hourly wage: 370.88
Physican Department: Gastroenterology
Name: Brittany, Hourly wage: 400
Physican Department: Gynecology

In [18]:
##display a list with all physicians
physician1.displayPhysicians()

Current Physicians:
--------------------
Name: Dr. Sally
Hourly salary: 350
Department: Cardiology
--------------------
Name: Dr. Jimmy
Hourly salary: 200
Department: Oncology
--------------------
Name: Dr. Tony
Hourly salary: 227.8
Department: Pediactrics
--------------------
Name: Dr. Sophia
Hourly salary: 250
Department: Emergency
--------------------
Name: Dr. Hillary
Hourly salary: 200
Department: Emergency
--------------------
Name: Dr. Jeremy
Hourly salary: 370.88
Department: Gastroenterology
--------------------
Name: Dr. Brittany
Hourly salary: 400
Department: Gynecology
--------------------

In [19]:
##on call schedule with 7 doctors(evenly spread)
physician3.oncallschedule()

Sunday on call doctor: ('Jimmy', 200, 0.5, 'Oncology')
Tuesday on call doctor: ('Sally', 350, 5.5, 'Cardiology')
Friday on call doctor: ('Tony', 227.8, 1, 'Pediactrics')
Thursday on call doctor: ('Jeremy', 370.88, 7.5, 'Gastroenterology')
Wednesday on call doctor: ('Brittany', 400, 25, 'Gynecology')
Saturday on call doctor: ('Hillary', 200, 10, 'Emergency')
Monday on call doctor: ('Sophia', 250, 15, 'Emergency')

In [20]:
##give out vacation time priority
physician1.vactionTimePriority()

Physician vacation time will be granted in this order:
Sally 0
Jeremy 1
Brittany 2
Tony 3
Hillary 4
Jimmy 5
Sophia 6

In [21]:
##count physicians, now there are 7

physician1.physicianCount()

There are 7 physicans currently working at this hospital

In [23]:
##test salary

physician5.yearlySalary(30)
physician6.yearlySalary(24)
physician7.yearlySalary(55)

Yearly take home pay for Dr. Hillary is 296400.0 after taxes
Yearly take home pay for Dr. Jeremy is 439715.328 after taxes
Yearly take home pay for Dr. Brittany is 915200.0 after taxes

In [25]:
##add physicians

physician8=p.Physician("Rose", 250, 15, "Oncology2")
physician9=p.Physician("Sammy", 345.68, 20, "Haematology")
physician10=p.Physician("Juan", 340.5, 16, "Neonatal")

(Hospital Member: Rose)
(Hospital Member: Sammy)
(Hospital Member: Juan)

In [26]:
physician1.physicianCount()

There are 10 physicans currently working at this hospital

In [27]:
##schedule with more doctors than days of the week
physician3.oncallschedule()

Doctor ('Sally', 350, 5.5, 'Cardiology') is not on call this week
Doctor ('Jimmy', 200, 0.5, 'Oncology') is not on call this week
Doctor ('Juan', 340.5, 16, 'Neonatal') is not on call this week
Monday on call doctor: ('Tony', 227.8, 1, 'Pediactrics')
Sunday on call doctor: ('Hillary', 200, 10, 'Emergency')
Tuesday on call doctor: ('Sammy', 345.68, 20, 'Haematology')
Thursday on call doctor: ('Rose', 250, 15, 'Oncology2')
Friday on call doctor: ('Jeremy', 370.88, 7.5, 'Gastroenterology')
Saturday on call doctor: ('Brittany', 400, 25, 'Gynecology')
Wednesday on call doctor: ('Sophia', 250, 15, 'Emergency')

In [28]:
##display them all 
physician3.displayPhysicians()

Current Physicians:
--------------------
Name: Dr. Sally
Hourly salary: 350
Department: Cardiology
--------------------
Name: Dr. Jimmy
Hourly salary: 200
Department: Oncology
--------------------
Name: Dr. Tony
Hourly salary: 227.8
Department: Pediactrics
--------------------
Name: Dr. Sophia
Hourly salary: 250
Department: Emergency
--------------------
Name: Dr. Hillary
Hourly salary: 200
Department: Emergency
--------------------
Name: Dr. Jeremy
Hourly salary: 370.88
Department: Gastroenterology
--------------------
Name: Dr. Brittany
Hourly salary: 400
Department: Gynecology
--------------------
Name: Dr. Rose
Hourly salary: 250
Department: Oncology2
--------------------
Name: Dr. Sammy
Hourly salary: 345.68
Department: Haematology
--------------------
Name: Dr. Juan
Hourly salary: 340.5
Department: Neonatal
--------------------

In [2]:
##Initialize Nurses
#name, hourly_wage, years_emplyed, monthly_Hours
nurse1=n.Nurse("Lou", 45, 8, 200)
nurse2=n.Nurse("Bob", 56, 14, 35)
nurse3=n.Nurse("Carl", 20, 1.5, 85)

(Hospital Member: Lou)
(Hospital Member: Bob)
(Hospital Member: Carl)

In [3]:
nurse1.display()
nurse2.display()
nurse3.display()

Name: Lou, Hourly wage: 45
Hours Worked in a month:200
Name: Bob, Hourly wage: 56
Hours Worked in a month:35
Name: Carl, Hourly wage: 20
Hours Worked in a month:85

In [4]:
nurse1.christmasBonus()
nurse2.christmasBonus()
nurse3.christmasBonus()

Lous Christmas bonus is 1000 $
Bobs Christmas bonus is 2000 $
Carls Christmas bonus is 500 $

In [5]:
##Average daily hours worked in June
nurse1.AverageDailyHours("JUNE")
nurse2.AverageDailyHours("june")
nurse3.AverageDailyHours("June")

Lou averages 6.451612903225806 daily hours of work
Bob averages 1.1290322580645162 daily hours of work
Carl averages 2.7419354838709675 daily hours of work

In [6]:
##check if they qualify for overtime pay
nurse1.over_time_pay_monthly(10)
nurse2.over_time_pay_monthly(10)
nurse3.over_time_pay_monthly(10)

Lou worked 10 overtime hours and take home monthly pay with overtime pay is 9675.0
Bob does not qualify for overtime pay
Carl does not qualify for overtime pay

In [7]:
nurse1.over_time_pay_monthly(20)

Lou worked 20 overtime hours and take home monthly pay with overtime pay is 10350.0

In [8]:
nurse3.over_time_pay_monthly(20)

Carl does not qualify for overtime pay

In [9]:
#assign nurses to 3 open floors

nurse3.nurseSheduling(3)

Nurse 0 assigned to floor 0
Nurse 1 assigned to floor 1
Nurse 2 assigned to floor 2
Nurse 0 is Lou
Nurse 1 is Bob
Nurse 2 is Carl

In [11]:
##add some nurses

nurse4=n.Nurse("Jo-Anne", 40, 8, 200)
nurse5=n.Nurse("Wade", 56, 10, 250)
nurse6=n.Nurse("Seth", 45.7, 26, 30)

(Hospital Member: Jo-Anne)
(Hospital Member: Wade)
(Hospital Member: Seth)

In [12]:
nurse4.display()
nurse5.display()
nurse6.display()

Name: Jo-Anne, Hourly wage: 40
Hours Worked in a month:200
Name: Wade, Hourly wage: 56
Hours Worked in a month:250
Name: Seth, Hourly wage: 45.7
Hours Worked in a month:30

In [13]:
##daily hours worked in october

nurse4.AverageDailyHours("october")
nurse5.AverageDailyHours("October")
nurse6.AverageDailyHours("OCTOBER")

Jo-Anne averages 6.451612903225806 daily hours of work
Wade averages 8.064516129032258 daily hours of work
Seth averages 0.967741935483871 daily hours of work

In [14]:
nurse4.over_time_pay_monthly(25)
nurse5.over_time_pay_monthly(13)
nurse6.over_time_pay_monthly(10)

Jo-Anne worked 25 overtime hours and take home monthly pay with overtime pay is 9500.0
Wade worked 13 overtime hours and take home monthly pay with overtime pay is 15092.0
Seth does not qualify for overtime pay

In [15]:
#assign nurses to 3 open floors

nurse3.nurseSheduling(3)

Nurse 2 assigned to floor 0
Nurse 5 assigned to floor 1
Nurse 0 assigned to floor 2
Nurse 4 assigned to floor 0
Nurse 1 assigned to floor 1
Nurse 3 assigned to floor 2
Nurse 0 is Lou
Nurse 1 is Bob
Nurse 2 is Carl
Nurse 3 is Jo-Anne
Nurse 4 is Wade
Nurse 5 is Seth

In [17]:
#assign nurses to 4 open floors
nurse3.nurseSheduling(4)

Nurse 2 assigned to floor 0
Nurse 0 assigned to floor 1
Nurse 1 assigned to floor 2
Nurse 3 assigned to floor 3
Nurse 5 assigned to floor 0
Nurse 4 assigned to floor 1
Nurse 0 is Lou
Nurse 1 is Bob
Nurse 2 is Carl
Nurse 3 is Jo-Anne
Nurse 4 is Wade
Nurse 5 is Seth